.w-full.flex.items.center.justify-center.max-w-screen-sm.mx-auto.p-6
  .text-sm
    = active_link_to 'home', root_path, class: 'text-tertiaryText', class_active: 'text-primaryText', active: :exclusive
    %span /
    = active_link_to 'todos', todos_path, class: 'text-tertiaryText', class_active: 'text-primaryText', active: :exclusive
    %span /
    = active_link_to 'sign up', signup_path, class: 'text-tertiaryText', class_active: 'text-primaryText', active: :exclusive
