-# haml-lint:disable LineLength
.p-1
  .text-semibold.text-sm.text-primaryText.mb-2.flex.gap-2.items-center
    to do
    .text-xs.text-secondaryText
      = "#{todos.count} items"
  %hr.border-border
  .flex.gap-1.flex-col
    - todos.each do |todo|
      = render 'todo_list_item', todo: todo